<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LMS</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.lms.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBook</display-name>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>com.lms.controller.AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/AddBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBranch</display-name>
    <servlet-name>AddBranch</servlet-name>
    <servlet-class>com.lms.controller.AddBranch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBranch</servlet-name>
    <url-pattern>/AddBranch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BooksBranchMapLoad</display-name>
    <servlet-name>BooksBranchMapLoad</servlet-name>
    <servlet-class>com.lms.controller.BooksBranchMapLoad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BooksBranchMapLoad</servlet-name>
    <url-pattern>/BooksBranchMapLoad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.lms.controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Author</display-name>
    <servlet-name>Author</servlet-name>
    <servlet-class>com.lms.controller.Author</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Author</servlet-name>
    <url-pattern>/Author</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>publisher</display-name>
    <servlet-name>publisher</servlet-name>
    <servlet-class>com.lms.controller.publisher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>publisher</servlet-name>
    <url-pattern>/publisher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>authorbooks</display-name>
    <servlet-name>authorbooks</servlet-name>
    <servlet-class>com.lms.controller.authorbooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authorbooks</servlet-name>
    <url-pattern>/authorbooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBranchbook</display-name>
    <servlet-name>AddBranchbook</servlet-name>
    <servlet-class>com.lms.controller.AddBranchbook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBranchbook</servlet-name>
    <url-pattern>/AddBranchbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.lms.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBranchList</display-name>
    <servlet-name>GetBranchList</servlet-name>
    <servlet-class>com.lms.controller.GetBranchList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBranchList</servlet-name>
    <url-pattern>/GetBranchList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.lms.controller.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadCheckout</display-name>
    <servlet-name>LoadCheckout</servlet-name>
    <servlet-class>com.lms.controller.LoadCheckout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadCheckout</servlet-name>
    <url-pattern>/LoadCheckout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBooksByBranch</display-name>
    <servlet-name>GetBooksByBranch</servlet-name>
    <servlet-class>com.lms.controller.GetBooksByBranch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBooksByBranch</servlet-name>
    <url-pattern>/GetBooksByBranch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutDone</display-name>
    <servlet-name>CheckoutDone</servlet-name>
    <servlet-class>com.lms.controller.CheckoutDone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutDone</servlet-name>
    <url-pattern>/CheckoutDone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckBranch</display-name>
    <servlet-name>CheckBranch</servlet-name>
    <servlet-class>com.lms.controller.CheckBranch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBranch</servlet-name>
    <url-pattern>/CheckBranch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadsearchBook</display-name>
    <servlet-name>LoadsearchBook</servlet-name>
    <servlet-class>com.lms.controller.LoadsearchBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadsearchBook</servlet-name>
    <url-pattern>/LoadsearchBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reserveBook</display-name>
    <servlet-name>reserveBook</servlet-name>
    <servlet-class>com.lms.controller.reserveBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reserveBook</servlet-name>
    <url-pattern>/reserveBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reserveDone</display-name>
    <servlet-name>reserveDone</servlet-name>
    <servlet-class>com.lms.controller.reserveDone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reserveDone</servlet-name>
    <url-pattern>/reserveDone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadreserveBook</display-name>
    <servlet-name>LoadreserveBook</servlet-name>
    <servlet-class>com.lms.controller.LoadreserveBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadreserveBook</servlet-name>
    <url-pattern>/LoadreserveBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reserve</display-name>
    <servlet-name>reserve</servlet-name>
    <servlet-class>com.lms.controller.reserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reserve</servlet-name>
    <url-pattern>/reserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadCheckFine</display-name>
    <servlet-name>LoadCheckFine</servlet-name>
    <servlet-class>com.lms.controller.LoadCheckFine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadCheckFine</servlet-name>
    <url-pattern>/LoadCheckFine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addnewreader</display-name>
    <servlet-name>addnewreader</servlet-name>
    <servlet-class>com.lms.controller.addnewreader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addnewreader</servlet-name>
    <url-pattern>/addnewreader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRegisteredUsers</display-name>
    <servlet-name>GetRegisteredUsers</servlet-name>
    <servlet-class>com.lms.controller.GetRegisteredUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRegisteredUsers</servlet-name>
    <url-pattern>/GetRegisteredUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Approve</display-name>
    <servlet-name>Approve</servlet-name>
    <servlet-class>com.lms.controller.Approve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approve</servlet-name>
    <url-pattern>/Approve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadViewReserveBook</display-name>
    <servlet-name>LoadViewReserveBook</servlet-name>
    <servlet-class>com.lms.controller.LoadViewReserveBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadViewReserveBook</servlet-name>
    <url-pattern>/LoadViewReserveBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutFromReserve</display-name>
    <servlet-name>CheckOutFromReserve</servlet-name>
    <servlet-class>com.lms.controller.CheckOutFromReserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutFromReserve</servlet-name>
    <url-pattern>/CheckOutFromReserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadViewBorrowedBook</display-name>
    <servlet-name>LoadViewBorrowedBook</servlet-name>
    <servlet-class>com.lms.controller.LoadViewBorrowedBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadViewBorrowedBook</servlet-name>
    <url-pattern>/LoadViewBorrowedBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnBooks</display-name>
    <servlet-name>ReturnBooks</servlet-name>
    <servlet-class>com.lms.controller.ReturnBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBooks</servlet-name>
    <url-pattern>/ReturnBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBranchInfo</display-name>
    <servlet-name>GetBranchInfo</servlet-name>
    <servlet-class>com.lms.controller.GetBranchInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBranchInfo</servlet-name>
    <url-pattern>/GetBranchInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTopTen</display-name>
    <servlet-name>GetTopTen</servlet-name>
    <servlet-class>com.lms.controller.GetTopTen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTopTen</servlet-name>
    <url-pattern>/GetTopTen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BranchList</display-name>
    <servlet-name>BranchList</servlet-name>
    <servlet-class>com.lms.controller.BranchList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchList</servlet-name>
    <url-pattern>/BranchList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearch</display-name>
    <servlet-name>AdminSearch</servlet-name>
    <servlet-class>com.lms.controller.AdminSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearch</servlet-name>
    <url-pattern>/AdminSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTopTenBook</display-name>
    <servlet-name>GetTopTenBook</servlet-name>
    <servlet-class>com.lms.controller.GetTopTenBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTopTenBook</servlet-name>
    <url-pattern>/GetTopTenBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AverageFine</display-name>
    <servlet-name>AverageFine</servlet-name>
    <servlet-class>com.lms.controller.AverageFine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AverageFine</servlet-name>
    <url-pattern>/AverageFine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeSearch</display-name>
    <servlet-name>HomeSearch</servlet-name>
    <servlet-class>com.lms.controller.HomeSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeSearch</servlet-name>
    <url-pattern>/HomeSearch</url-pattern>
  </servlet-mapping>
</web-app>